web_environment:
  - IS_CI=TRUE
  - PHP_CHANGED_FILES=$PHP_CHANGED_FILES
  - JS_CHANGED_FILES=$JS_CHANGED_FILES
  - STYLE_CHANGED_FILES=$STYLE_CHANGED_FILES
  - TWIG_CHANGED_FILES=$TWIG_CHANGED_FILES
  - TEXT_CHANGED_FILES=$TEXT_CHANGED_FILES